@model string[][]

@if (Model.Length != 0)
{
    <table>
        @foreach (var row in Model)
        {
            <tr>
                @foreach (var cell in row)
                {
                    <td>
                        @cell
                    </td>
                }
            </tr>
        }
    </table>
}
